[Unit]
Description=Gunicorn instance to serve the Aeronautics Membership App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/jaeronautics
EnvironmentFile=/var/www/jaeronautics/.env
ExecStart=/var/www/jaeronautics/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 wsgi:application
Restart=always
TimeoutSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
